body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

#start , #number_of_object , #status
{
    font-size: 18px;
}

.copy_right_footer
{
    width: 100%;
    background-color: grey;
    text-align: center;
    line-height: 3;
    position: fixed;
    color: white;
    bottom: 0px;
}

canvas
{
    border-radius: 10px;
    margin-top: 130px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px grey;
}